node_modules
.next
.nuxt
.output
dist
legacy-nuxt
data/uploads
data/uploads-legacy-nuxt
.git
.github
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.env
.env.local
.env.*.local
coverage
*.tsbuildinfo
.cache
.temp
.tmp
