# Map all email addresses to the canonical name and email
holic512 <holic512@163.com> holic512 <2423580694@qq.com>
holic512 <holic512@163.com> holic512 <111425320+holic512@users.noreply.github.com>
holic512 <holic512@163.com>
