@import '../styles/legacy/main.css';
@import '../styles/legacy/theme.css';
@import '../styles/legacy/markdown-theme.css';
@import '../styles/legacy/md-editor.css';

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
