@import "@fontsource/public-sans/300.css";
@import "@fontsource/public-sans/400.css";
@import "@fontsource/public-sans/500.css";
@import "@fontsource/public-sans/600.css";
@import "@fontsource/public-sans/700.css";
@import "@fontsource/public-sans/800.css";

body {
  font-family: "Public Sans", sans-serif;
}